{% extends "layout.html" %}
{% block body %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/minisite">Minisite</a></li>
  <li class="active" style="float:right;"><a href="/minisite/add">Add a minisite</a></li>
</ul>

<div class="main">
  <header>	
  	add site
  </header>
  <div>

	  <form action="" method="POST">
    	{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <div class="form-actions">
    	<button type="submit" class="btn btn-primary">Save</button>
    </div>
    </form>
    <div>The minisite URL will be: <a id="minisite-preview-url" href="/demo" target="_blank">/demo</a>
      
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
  $('#id_slug').keyup(function(argument) {
      var url = '/' + this.value;
      if ((this.value).trim()=='') {
        url = '/demo'
      };
      
      $('#minisite-preview-url').html(url);
  });
</script>
{% endblock %}

