{% extends "layout.html" %}
{% block body %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/minisite">Minisite</a> <span class="divider">/</span></li>
  <li><a href="/minisite/{{minisite.slug}}">{{minisite.name}}</a></li>
  <li class="active" style="float:right;"><a href="/minisite/add/{{minisite.slug}}">Add Page</a></li>
</ul>
<div class="main">
  <header>	
  	site list
  </header>
  <div>
    <ul>
    {% for page in pages %}
      <li>
        <a href="/{{page.minisite.slug}}/{{page.slug}}" target="_blank">{{page.name}}</a> || <a href="/minisite/{{page.minisite.slug}}/{{page.slug}}/edit">Edit</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}