{% extends "layout.html" %}
{% block body %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/minisite">Minisite</a></li>
  <li class="active" style="float:right;"><a href="/minisite/add">Add a minisite</a></li>
</ul>

<div class="main">
  <header>	
  	site list
  </header>
  <div>
    <ul>
    {% for minisite in minisites %}
      <li><a href="/minisite/{{minisite.slug}}">{{minisite.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}