{% extends "layout.html" %}
<script type="text/javascript">window.__admin_media_prefix__ = "/static/media/";</script> 
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/media/js/core.js"></script>
<script type="text/javascript" src="/static/media/js/calendar.js"></script>
<script type="text/javascript" src="/static/media/js/admin/DateTimeShortcuts.js"></script>
<link rel="stylesheet" type="text/css" href="/static/media/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/static/media/css/widgets.css" media="screen" />
{% block body %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/blog">Blog</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/blog/add">New Entry</a>
  </li>
</ul>

<div class="main">
<form action="" method="POST">
	{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<div class="form-actions">
	<button type="submit" class="btn btn-primary">Save</button>
	<a class="btn" data-toggle="modal" href="#preview" >Preview Mode</a>
</div>
</form>
</div>

<div class="modal fade hide" id="preview">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Markdown</h3>
  </div>
  <div class="modal-body">
    <div id="text">
      <div class="carton container border">
  			<div id="editor-textarea" class="column">
  			</div>
  			<div id="editor-preview" class="column right"></div>
  		</div>
		</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
{% endblock %}

{% block footer %}
<link href="/static/wysiwym.css?v={{request.META.CURRENT_VERSION_ID}}" rel="stylesheet">
<link href="/static/editor.css?v={{request.META.CURRENT_VERSION_ID}}" rel="stylesheet">
<script src="/static/prettify.js?v={{request.META.CURRENT_VERSION_ID}}"></script>
<script src="/static/showdown.js?v={{request.META.CURRENT_VERSION_ID}}"></script>
<script src="/static/editor.js?v={{request.META.CURRENT_VERSION_ID}}"></script>
<script src="/static/markdown.js?v={{request.META.CURRENT_VERSION_ID}}"></script>
{% endblock %}