{% extends "layout.html" %}
{% load i18n %}
{% block head %}
<link rel="alternate" type="application/atom+xml" title="RSS Feed" href="/blog/atom" />
{% endblock %}

{% block body %}
<ul class="breadcrumb">
  <li>
    <a href="/">{% trans "Home" %}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/blog">{% trans "Blog" %}</a> 
  </li>
{% if user.is_authenticated %}
  <li style="float:right;">
    <a href="/blog/mine">{% trans "Mine" %}</a>
  </li>
	<li style="float:right;">
    <a href="/blog/add">{% trans "Add" %}</a><span class="divider">/</span>
  </li>
{% endif %}
</ul>
<div class="main">
	
<ul>
	{% for entry in entries %}
	<li style="list-style-type: none;"><a href="/blog/entry/{{entry.key}}" style="display:none;">{{entry.title}}</a>
	<div style="padding-bottom: 5px;margin: 5px 0;border-bottom: 1px solid #EEE;">
		<div class="page-header" style="border-bottom: 1px dashed #EEE;">
		  <h2><a href="/blog/entry/{{entry.key}}">{{entry.title}}</a></h2>
		</div>
		<div>
		{% autoescape off %}
		{{entry.text_html}}
		{% endautoescape %}
		</div>
		<div>
			{{ entry.updated|date:"Y-m-d H:i:s" }}
		</div>
		{% if relationship %}
		<div>
			Tags:
			{% for r in relationship %}
			<a href="#{{r.tag.slug}}">{{r.tag.name}}</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>	
	</li>
	{% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
  <ul>
		{% if page_obj.has_previous %}
		<li><a href="?page={{ page_obj.previous_page_number }}">{% trans "Prev" %}</a></li>
		{%else%}
		<li class="disabled"><a href="#">{% trans "Prev" %}</a></li>
    {% endif %}
    
		{% for page in page_obj.paginator.page_range %}
			{% if not page %}
				<li class="disabled"><a href="#">...</a></li>
			{%else%}
				{% ifequal page page_obj.number %}
				<li class="active"><a href="?page={{page}}">{{page}}</a></li>
				{%else%}
				<li><a href="?page={{page}}">{{page}}</a></li>
				{%endifequal%}
			{% endif %}	
		{% endfor %}
		{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
		{%else%}
				<li class="disabled"><a href="#">{% trans "Next" %}</a></li>
    {% endif %}
    
  </ul>
</div>
{% endif %}
</div>
{% endblock %}
