{% extends "layout.html" %}
{% block body %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/blog">Blog</a> 
  </li>
{% if user.is_authenticated %}
  <li style="float:right;">
    <a href="/blog/mine">Mine</a>
  </li>
	<li style="float:right;">
    <a href="/blog/add">Add</a><span class="divider">/</span>
  </li>
{% endif %}
</ul>
<div class="main">
	
<ul>
	{% for entry in entries %}
	<li><a href="/blog/entry/{{entry.key}}">{{entry.title}}</a></li>
	{% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
  <ul>
		{% if page_obj.has_previous %}
		<li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
		{%else%}
		<li class="disabled"><a href="#">Prev</a></li>
    {% endif %}
    
		{% for page in page_obj.paginator.page_range %}
			{% if not page %}
				<li class="disabled"><a href="#">...</a></li>
			{%else%}
				{% ifequal page page_obj.number %}
				<li class="active"><a href="?page={{page}}">{{page}}</a></li>
				{%else%}
				<li><a href="?page={{page}}">{{page}}</a></li>
				{%endifequal%}
			{% endif %}	
		{% endfor %}
		{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
		{%else%}
				<li class="disabled"><a href="#">Next</a></li>
    {% endif %}
    
  </ul>
</div>
{% endif %}
</div>
{% endblock %}
