{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ site.sitename }} {% if site.tagline %} - {{ site.tagline }} {% endif %}</title>
	<!-- Le styles -->
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<!--link href="//twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet">
	<link href="//twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet"-->
	<link href="/static/style.css" rel="stylesheet">
	{%comment%}
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{%endcomment%}
	<!-- {% load filter %} -->
	{% block head %}
	{% endblock %}
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
	{% include "nav.html" %}
	<div class="container-fluid">
		
		  <div class="row-fluid">
		    <div class="span4">
		      <!--Sidebar content-->
					<div class="sidebar">
						<!-- widget begin -->
						<div id="xuser-panel" class="widget">
							{% if user.is_authenticated %}
							<div style="padding:5px;">
								<!-- {% gravatar_url user.email %} -->
								<!--http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=48-->
								<a href="/member/{{ user.username }}" class="avatar"><img src="{% gravatar_url user.email %}"  class="avatar-normal"></a> <a href="/member/{{ user.username }}">{% if user.get_full_name %}{{user.get_full_name}} {% else %} {{ user.username }} {% endif %}</a></div>
							<div>Last: {{ user.last_login|date:"Y-m-d H:i:s" }}</div>
							<div class="btn-group">
							  <a class="btn" href="/r/favorites">{% trans "Favorites" %}</a>
							  <!--a class="btn" href="#">222</a>
							  <a class="btn" href="#">333</a-->
							</div>
							{%else%}
							  <div class="widget-header">
  						    <span>Oh Bug!  - Fun with Programming.</span>
  						  </div>
  						  <div align="center" style="padding:10px">
  						    <a class="btn" href="/auth/signup">{% trans "Sign Up Now!" %}</a>
  						  </div>
  						  <div align="center">
  						  	{% trans "Registered user? " %}<a class="" href="/auth/signin">{% trans "Please Sign In" %}</a>
  						  </div>
							{%endif%}
						</div>
						<!-- widget end -->
						{% if updated_tags %}
						<div class="widget">
						  <div class="widget-header">
						    <span class="widget-title">{% trans "Latest Tags" %}</span>
						    <a class="widget-tagline" href="/r/tag" title="All Tags">{% trans "All Tags" %}</a>
						  </div>
							<div>
							{% for tag in updated_tags %}
							<a href="/r/tag/{{tag.slug}}" class="thread-tag" title="{{tag.name}}">{{tag.name}}</a>
							{% endfor %}
							</div>
						</div>
						{% endif %}
						
						<div class="widget">
							<div class="widget-header">
								{% trans "Atom Feeds" %}
							</div>
							<div>
								<a href="/r/atom" class="thread-tag">{% trans "Board Feeds" %}</a> <a href="/blog/atom" class="thread-tag">{% trans "Blog Feeds" %}</a>
							</div>
						</div>
						
						{% if tag and tag.meta %}
						<div class="widget">
						  <div class="widget-header">
						    <span>Meta</span>
						  </div>
						  <div>
						  {% autoescape off %}
						  {{tag.meta}}
						  {% endautoescape %}
						  </div>
						</div>
						{% endif %}
						<div class="widget">
              <script type="text/javascript">
              google_ad_client = "ca-pub-0380260966464998";
              google_ad_slot = "2545226538";
              google_ad_width = 250;
              google_ad_height = 250;</script>
              <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
						</div>
					</div>
		    </div>
		    <div class="span8">
		      <!--Body content-->
					<div class="content">
					{% block body %}
					<div class="main">
					</div>
					<div class="main">
					</div>
					{% endblock %}
					</div>
		    </div>
		  </div>
		
	</div>
	<div class="container">
		<hr>
		<footer>
		<p>&copy; {{ site.sitename }} {% now "Y" %}, Powered by <a href="https://github.com/darcyliu/storyboard" target="_blank" title="Story Board">Story Board</a> {{ site.version }} , Hosted by <a href="http://www.linode.com/?r=8dd6ddd391fc320d9f55ad101e051bde767df599" target="_blank" title="Linode">Linode</a>, Now:{% now "Y-m-d H:i:s" %} (UTC +08:00) {% if request.META.HTTP_X_FORWARDED_FOR %} {{request.META.HTTP_X_FORWARDED_FOR}} / {% endif %} {{request.META.REMOTE_ADDR}}</p>
		{% if user.is_superuser %}
		<!--p>{{user.is_authenticated}} {{csrf_token}} {{user}} {{ debug }} {{LANGUAGE_CODE}}</p-->
		<p>{{request.META.HTTP_USER_AGENT}}</p>
		<p>Version:{{site.version}} Build:{{request.META.CURRENT_VERSION_ID}}  Runtime:{{request.META.SERVER_SOFTWARE}} with {{request.META.APPENGINE_RUNTIME}} Remote:{% if request.META.HTTP_X_FORWARDED_FOR %} {{request.META.HTTP_X_FORWARDED_FOR}} {% else %} {{request.META.REMOTE_ADDR}}{% endif %} </p>
		<!--p>{request}}</p-->
		{% endif %}
		</footer>
	</div>
	<script src="/static/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script>
	(function(){
		var path = location.pathname.replace(/\//g,'');
		$('.navbar-fixed-top .nav li a').each(function(){
			var p = this.pathname.replace(/\//g,'');
			if(p==path){
				$(this).parent().addClass('active');
			}else{
				$(this).parent().removeClass('active');
			}
		});
	})();
	$('.dropdown-toggle').dropdown();
	$('.stamp').tooltip();
	$('.mention').tooltip();
	//$('.node').popover();
	$('#myCarousel').carousel('cycle');
	/*$('.carousel').carousel();*/
	</script>
	{% if site.ga %}
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{site.ga}}']);/*UA-1390856-1*/
	_gaq.push(['_trackPageview']);
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	{% endif %}
	{% block footer %}
	{% endblock %}
</body>
</html>
