{% extends "layout.html" %}
{% block body %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/r">Board</a> {% if tag %}<span class="divider">/</span>{% endif %}
  </li>
	{% if tag %}
	<li>
    <a href="/r/tag/{{tag.slug}}">{{ tag.name }}</a>
  </li>
	<li style="float:right;">
    <a href="/r/add/{{tag.slug}}">Add</a>
  </li>
	{% endif %}
</ul>


{% if tags %}
<div class="main">
	<div class="table table-striped">
		{% for tag in tags %}
			<a href="/r/add/{{tag.slug}}" class="thread-tag" title="{{tag.name}}">{{tag.name}}</a>
		{% endfor %}
	</div>
</div>	
{% endif %}

	
{% endblock %}