{% extends "layout.html" %}
{% block body %}
<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/r">Board</a> {% if tag %}<span class="divider">/</span>{% endif %}
  </li>
	{% if tag %}
	<li>
    <a href="/r/tag/{{tag.slug}}">{{ tag.name }}</a>
  </li>
	<li style="float:right;">
    <a href="/r/add/{{tag.slug}}">Add</a>
  </li>
  {%else%}
  <li style="float:right;">
    <a href="/r/add/">Add</a>
  </li>
	{% endif %}
</ul>

{% load filter %}

{% if threads.paginator.count > 0 %}
<div class="main">
		{% if threads.object_list %}
		<ul class="thread-list">
			{% for thread in threads.object_list %}
			<li>
			<a class="avatar" href="/member/{{ thread.author.username }}" title="{% if thread.author.get_full_name %}{{thread.author.get_full_name}} {% else %} {{ thread.author.username }} {% endif %}"><img src="{{thread.author.email|gravatar }}"></a>
			<span class="post-meta">
				<a href="/member/{{ thread.author.username }}" class="author">{% if thread.author.get_full_name %}{{thread.author.get_full_name}} {% else %} {{ thread.author.username }} {% endif %}</a>  -  <a class="stamp" href="#thread-preview-{{thread.key}}" title="{{thread.updated|date:"Y-m-d H:i:s"}}" data-toggle="modal"> {{thread.updated|timesince}} ago</a>  -  <a href="/r/tag/{{thread.tag.slug}}" class="node" rel="popover" data-content="" data-original-title="" title="{{thread.tag.name}}">{{thread.tag.name}}</a></span>
			<span class="post-title"><a href="/r/{{thread.key}}" class="" title="{{thread.title}}">{{thread.title}}</a></span>
			<a href="/r/{{thread.key}}#last-reply" class="last-count">{{thread.release}}</a>
			<span class="stamp"></span>
			
			<div class="modal fade hide" id="thread-preview-{{thread.key}}">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>{{thread.title}}</h3>
        </div>
        <div class="modal-body">
          <div class="thread-meta">
            Posted on <a href="/r/tag/{{thread.tag.slug}}" class="node" rel="popover" data-content="" data-original-title="" title="{{thread.tag.name}}">{{thread.tag.name}}</a> by <a href="/member/{{ thread.author.username }}" class="author">{% if thread.author.get_full_name %}{{thread.author.get_full_name}} {% else %} {{ thread.author.username }} {% endif %}</a> at {{thread.updated|timesince}} ago
          </div>
          <div>
          {{ thread.text|imgize|urlize|linebreaks }}
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
      </div>
			</li>
			{% endfor %}
		</ul>
		
		{% if threads.paginator.page_range_list %}
		<div class="pagination">
		  <ul>
				{% if threads.has_previous %}
				<li><a href="?page={{ threads.previous_page_number }}">Prev</a></li>
				{%else%}
				<li class="disabled"><a href="#">Prev</a></li>
        {% endif %}
		    
				{% for page in threads.paginator.page_range_list %}
					{% if not page %}
						<li class="disabled"><a href="#">...</a></li>
					{%else%}
						{% ifequal page threads.number %}
						<li class="active"><a href="?page={{page}}">{{page}}</a></li>
						{%else%}
						<li><a href="?page={{page}}">{{page}}</a></li>
						{%endifequal%}
					{% endif %}	
				{% endfor %}
				{% if threads.has_next %}
						<li><a href="?page={{ threads.next_page_number }}">Next</a></li>
				{%else%}
						<li class="disabled"><a href="#">Next</a></li>
        {% endif %}
		    
		  </ul>
		</div>
		{% endif %}
		
		{% endif %}
</div>
{% endif %}

{% if tags %}
<div class="main">
	<div class="table table-striped">
		{% for tag in tags %}
			<a href="/r/tag/{{tag.slug}}" class="thread-tag" title="{{tag.name}}">{{tag.name}}</a>
		{% endfor %}
	</div>
</div>	
{% endif %}

{% if user.is_authenticated %}
{% if tag %}
<div class="main">
	<form action="/r/add/{{tag.slug}}" method="POST">
  	{% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>
  <div class="form-actions">
  	<button type="submit" class="btn btn-primary">Publish</button>
  	<a class="btn" data-toggle="modal" href="#uploader" >UpLoad</a>
  </div>
  {% include "board/upload.html" %}
  </form>
</div>
{% endif %}
{% endif %}
	
{% endblock %}