<div class="modal fade hide" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Upload</h3>
  </div>
  <div class="modal-body">
    <input id="the-file" type="file" multiple="multiple" name="file" accept="image/*"/>
    <p><progress id="uploadprogress" min="0" max="100" value="0">100</progress></p>
    <script>
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    var thefile = document.getElementById('the-file');
    var progress = document.getElementById('uploadprogress');
    thefile.onchange = function () {
  		var fileInput = thefile;
  		var len = fileInput.files.length;
  		for(var i=0; i < len; ++i){
  			var file = fileInput.files[i];

  			var xhr = new XMLHttpRequest();

  			//xhr.upload.addEventListener('loadstart', onloadstartHandler, false);
  			xhr.upload.addEventListener('progress', onprogressHandler, false);
  			xhr.upload.addEventListener('load', onloadHandler, false);
  			xhr.addEventListener('readystatechange', onreadystatechangeHandler, false);
  			xhr.open('POST', '/photo/ajax_upload', true);
  			//xhr.setRequestHeader("Content-Type", "application/octet-stream");
  			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
  			xhr.setRequestHeader("Content-Type", file.type);
  			xhr.setRequestHeader("X-File-Name", file.name);
  			xhr.setRequestHeader('X-File-Size', file.fileSize);
  			xhr.send(file);
  		}

      // function onloadstartHandler(evt) {
      //  $('#upload-status').html('Upload started!');
      // }

  		function onloadHandler(evt) {
  		    //$('#upload-status').html('Upload successful!');
  		    progress.value = progress.innerHTML = 100;
  		    //console.log(evt)
  		}

  		function onprogressHandler(evt) {
  		  //console.log(evt)
  			//var percent = evt.loaded/evt.total*100;
  			//$('#progress').html('Progress: ' + percent + '%');
  			if (event.lengthComputable) {
          var complete = (event.loaded / event.total * 100 | 0);
          progress.value = progress.innerHTML = complete;
        }
  		}

      function onreadystatechangeHandler(evt) {
       var status = null;
      
       try {
         status = evt.target.status;
       }catch(e) {
         return;
       }
       if (status == '200' && evt.target.readyState == '4' && evt.target.responseText) {
         
         var to_json = JSON.parse(evt.target.responseText);
         
         var html = $('#id_text').val();
         if(html){
            $('#id_text').val(html+'\n'+to_json['origin']+'?preview=true');
         }else{
            $('#id_text').val(to_json['origin']+'?preview=true');
         }
         
         $('#myModal').modal('hide');
         //console.log(to_json);
         // $('#progress').html('Progress: 100%');
         //            $('#result').html('<p>The server saw it as:</p><pre>' + evt.target.responseText + '</pre>');
         //            $('#display').prepend(evt.target.responseText);
       }
      }
  	}
  	</script>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Insert Photo</a>
  </div>
</div>